%% -*- erlang -*-
{cover_enabled, true}.
{erl_opts, [debug_info,
            fail_on_warning,
            {i, "deps/slg_model/include/"},
            {i, "deps/slg_proto/include/"},
            {i, "deps/slg_proto/proto/code/"},
            {src_dirs, ["src", "migrate", "deps/slg_proto/proto/code/"]}
           ]}.
{deps_dir, ["deps"]}.

{deps, [
        {log4erl, ".*", {git, "https://github.com/ahmednawras/log4erl.git", {tag, "HEAD"}}},
        {mysql, ".*", {git, "https://github.com/dizzyd/erlang-mysql-driver.git", {tag, "HEAD"}}},
        {slg_csv, ".*", {git, "https://github.com/zhuoyikang/slg-csv.git", {tag, "HEAD"}}},
        {slg_proto, ".*", {git, "https://github.com/zhuoyikang/slg-proto.git", {tag, "HEAD"}}},
        {slg_model, ".*", {git, "https://github.com/zhuoyikang/slg-model.git", {tag, "HEAD"}}},
        {slg_support, ".*", {git, "https://github.com/zhuoyikang/slg-support.git", {tag, "HEAD"}}}
       ]
}.

%% 检查我们单元测试的覆盖率
{cover_enabled, true}.
